<%= link_to "Create a team", new_team_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Activities</th>
      <th>Leaders</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>
  <% current_account.teams.decorate.each do |team| %>
    <tr id="<%=team.dom_id%>">
      <td><%= team.name %></td>
      <td><%= team.activities.pluck(:name).join(", ") %></td>
      <td><%= team.leaders.pluck(:name).join(", ") %></td>
      <td><%= team.members.pluck(:name).join(", ") %></td>
      <td>
        <% if can_manage?(team) %>
          <%= link_to "Edit", edit_team_path(team) %>
          &ndash;
          <%= link_to "Delete", team_path(team), method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
