<%= link_to "Create a team", new_team_path %>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Projects</th>
      <th>Team Lead</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>
  <% @teams.each do |team| %>
    <% if can_view?(team) %>
      <tr id="<%=team.dom_id%>">
        <td><%= team.name %></td>
        <td><%= team.projects.pluck(:name).join(", ") %></td>
        <td><%= team.leader.name %></td>
        <td><%= team.accounts.pluck(:name).join(", ") %></td>
        <td>
          <% if can_manage?(team) %>
            <%= link_to "Edit", edit_team_path(team) %>
            &ndash;
            <%= link_to "Delete", team_path(team), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>