<section class="check-in">
  <%= form_for @check_in do |check_in_form| %>
    <%= check_in_form.label :worked_at, "What day is this for?" %>
    <%= check_in_form.text_field :worked_at, class: "datepicker" %>
    <%= render partial: "error_for_field", locals: { model: check_in_form.object, field: :worked_at } %>

      <%= check_in_form.fields_for :log_entries do |log_fields| %>
        <div class="activity" id="activity-<%=log_fields.object.activity_id%>">
          <h4><%= log_fields.object.activity_name %></h4>
          <%= log_fields.hidden_field :activity_id %>

          <div class="amount-field">
            <%= log_fields.label :amount, "How many hours did you work?" %>
            <%= log_fields.select :amount, options_for_select(CheckInDecorator::HOURS_WORKED, log_fields.object.amount) %>
            <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :amount } %>
          </div>
          <div class="quality-field">
            <%= log_fields.label :quality, "How'd it go?" %>
            <%= log_fields.select :quality, options_for_select(CheckInDecorator::ATTENTION_QUALITY, log_fields.object.quality) %>
            <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :quality } %>
          </div>
          <div class="notes-field">
            <%= log_fields.label :notes %>
            <%= log_fields.text_field :notes %>
            <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :notes } %>
          </div>
        </div>
      <% end %>
      <%= check_in_form.submit %>
      <%= link_to "Return To Dashboard", root_path %>
  <% end %>
</section>
