<section id="new-check-in">
  <%= form_for @check_in do |check_in_form| %>
    <%= check_in_form.label :worked_at, "What day is this for?" %>
    <%= check_in_form.text_field :worked_at, class: "datepicker" %>

      <%= check_in_form.fields_for :log_entries do |log_fields| %>
        <div id="activity-<%=log_fields.object.activity_id%>">
          <h4><%= log_fields.object.activity_name %></h4>

          <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :worked_at } %>

          <%= log_fields.label :amount, "How many hours did you work?" %>
          <%= log_fields.select :amount, options_for_select(CheckInHelper::HOURS_WORKED) %>
          <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :amount } %>

          <%= log_fields.label :quality, "How'd it go?" %>
          <%= log_fields.select :quality, options_for_select(CheckInHelper::ATTENTION_QUALITY) %>
          <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :quality } %>

          <%= log_fields.label :notes %>
          <%= log_fields.text_area :notes %>
          <%= render partial: "error_for_field", locals: { model: log_fields.object, field: :notes } %>
        </div>
      <% end %>
      <%= check_in_form.submit %>
  <% end %>
</section>
