<section id="projects">
  <h3>Pick a Project to Work On</h3>
  <div class="contents">
    <%- @projects.each do |project| %>
      <article>
        <%= link_to_new_log_entry(project) %>
        <header>
          <h3><%= project.name %></h3>
        </header>
        <p><%= project.capacity_remaining %> of work left</p>
        <p><%= project.weekly_capacity_remaining%> of <%= project.weekly_burn_rate %> per week</p>
      </article>
    <% end %>
  </div>
</section>
