<section id="recent_logs">
<ol>
  <%- current_account.recent_logs.each do |log| %>
    <li id="<%=log.dom_id%>"><%=log.summary %></li>
  <%- end %>
</ol>
</section>
<section id="projects">
  <%- @projects.each do |project| %>
    <article>
      <%= link_to_new_log_entry(project) %>
      <header>
        <h3><%= project.name %></h3>
      </header>
      <p>Capacity Remaining: <%= project.capacity_remaining %></p>
      <p>Capacity Total: <%= project.capacity %></p>
    </article>
  <% end %>
</section>
