<section id="week_in_review">
  <h3> Your Week In Review: </h3>
  <p>You've worked <%= current_account.remaining_personal_capacity %> of your
  expected <%= current_account.weekly_expected_capacity %> in the past 7
  days</p>
</section>

<section id="projects">
  <h3>Pick a Project to Work On</h3>
  <div class="contents">
    <%- @projects.each do |project| %>
      <article>
        <%= link_to_new_log_entry(project) %>
        <header>
          <h3><%= project.name %></h3>
        </header>
        <p><%= project.capacity_remaining %> of work left</p>
        <p><%= project.weekly_capacity_remaining%> of <%= project.weekly_burn_rate %> per week</p>
      </article>
    <% end %>
  </div>
</section>

<section id="recent_logs">
  <h3>Your Recent Entries</h3>
  <table>
    <thead>
      <tr>
        <th>Project</th>
        <th>Capacity Worked</th>
        <th>Date Worked</th>
        <th>Billable?</th>
        <th></th>
      </tr>
    </thead>
    <%- current_account.recent_logs.each do |log| %>
      <tr id="<%=log.dom_id%>">
        <td><%= log.project.name %></td>
        <td><%= log.amount %></td>
        <td><%= log.worked_at %></td>
        <td><%= log.billable? %></td>
        <td><%= link_to "Delete", log_path(log), method: :delete %></td>
      </tr>
    <%- end %>
  </table>
</section>
