<section id="projects">
  <h3>Pick a Project to Work On</h3>
  <%- @projects.each do |project| %>
    <article>
      <%= link_to_new_log_entry(project) %>
      <header>
        <h3><%= project.name %></h3>
      </header>
      <p><%= project.capacity_remaining %> remaining</p>
    </article>
  <% end %>
</section>

<section id="recent_logs">
<h3>Recently Logged Capacity</h3>
<ol>
  <%- current_account.recent_logs.each do |log| %>
    <li id="<%=log.dom_id%>"><%=log.summary %> <%= link_to "Delete", log_path(log), method: :delete %></li>
  <%- end %>
</ol>
</section>
