<h1>Track Capacity For <%= @project.name %> </h1>

<%= form_for([ @project, Capacity.new]) do |f| %>
  <%= f.label :amount  %>
  <%= f.select :amount, options_for_select([['1 eighth-day', 1], ['1 quarter-day', 2],['3 eighth-days', 3], ['1 half-day',4], ['5 eighth-days', 5], ['3 quarter-days', 6],['7 eight-days', 7],['1 whole day',8]]) %>
  <%= f.label :quality %>
  <%= f.select :quality, options_for_select([1, 2, 3, 4, 5]) %>

  <%= f.label :worked_at %>
  <%= f.date_field :worked_at %>


  <%= f.submit "Log Capacity" %>
<%- end %>