<% if @capacity.errors.full_messages.any? %>
  <% @capacity.errors.full_messages.each do |error_message| %>
  <%= error_message if @capacity.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<h1>Track Capacity For <%= @project.name %> </h1>

<%= form_for([ @project, Capacity.new]) do |f| %>
  <%= f.label :amount  %>
  <%= f.select :amount, options_for_select(ProjectHelper::AMOUNT_OPTIONS) %>

  <%= f.label :quality %>
  <%= f.select :quality, options_for_select(ProjectHelper::QUALITY_OPTIONS) %>

  <%= f.label :worked_at %>
  <%= f.date_field :worked_at %>

  <label>
    <%= f.check_box :do_not_bill %> Do Not Bill
  </label>


  <%= f.submit "Log Capacity" %>
<%- end %>
