<ul class="filters">
  <li class="filter">
    <%= link_to "By Activity", "#", class: "filter-link" %>
    <div class="filter-content">
      <ul>
        <% current_account.activities.uniq.each do |activity| %>
          <li><%= link_to activity.name, logs_path(activities: [activity.id]) %></li>
        <% end %>
      </ul>
    </div>
  </li>

  <li class="filter">
    <%= link_to "By Date", "#", class: "filter-link" %>
    <div class="filter-content">
      <ul>
        <%- filterer.ranges.each do |range| %>
        <li class="subfilter">
          <%= link_to range[:label], logs_path(after_date: range[:after_date], before_date: range[:before_date]), class: "link" %>
        </li>
        <%- end %>
      </ul>
    </div>
  </li>
  <%- if current_account.features.bills_time? %>
    <li class="filter">
      <%= link_to "Only Billable", logs_path(billable: true), class: "link" %>
    </li>
  <%- end %>
  <li class="filter">
    <%= link_to "No filter", logs_path, class: "link" %>
  </li>
</ul>
