<ul class="filters">
  <li class="filter">
    <%= link_to "By Project", "#", class: "filter-link" %>
    <div class="filter-content">
      <ul>
        <% current_account.projects.uniq.each do |project| %>
          <li><%= link_to project.name, logs_path(projects: [project.id]) %></li>
        <% end %>
      </ul>
    </div>
  </li>

  <li class="filter">
    <%= link_to "By Week", "#", class: "filter-link" %>
    <div class="filter-content">
      <ul>
        <li class="subfilter">
          <%= link_to "This week", logs_path(after_date: 7.days.ago.to_date), class: "link" %>
        </li>

        <li class="subfilter">
          <%= link_to "Last week", logs_path(after_date: 14.days.ago.to_date, before_date: 7.days.ago.to_date), class: "link" %>
        </li>
      </ul>
    </div>
  </li>

  <li class="filter">
    <%= link_to "Only Billable", logs_path(billable: true), class: "ink" %>
  </li>
</ul>
