<tr id="<%=log.dom_id%>" class="log">
  <td><%= log.project.name %></td>
  <td><%= log.amount %></td>
  <td><%= log.quality %></td>
  <td><%= log.worked_at %></td>
  <td><%= log.billable? %></td>
  <td><%= link_to "Delete", log_path(log), method: :delete %></td>
</tr>
