  <table>
    <thead>
      <tr>
        <th>Activity</th>
        <th>Capacity Worked</th>
        <th>Date Worked</th>
        <th>Quality</th>
        <th>Billable?</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <%- logs.each do |log| %>
      <tr id="<%=log.dom_id%>">
        <td><%= log.activity.name %></td>
        <td><%= log.amount %></td>
        <td><%= log.worked_at %></td>
        <td><%= log.smiley_face %></td>
        <td><%= log.billable? %></td>
        <td><%=log.notes%></td>
        <td><%= link_to "Edit", edit_activity_log_path(id: log, activity_id: log.activity) %>
            &ndash;
            <%= link_to "Delete", log_path(log), method: :delete %></td>
      </tr>
    <%- end %>
  </table>
